.root {
  :global {
    .ant-list-item-meta-title {
      font-size: 18px;
    }

    .ant-list-item-meta-title > a {
      color: #1f262c !important;
    }

    .ant-list-item-meta-title > a:hover {
      color: var(--primary-color-10) !important;
    }

    .ant-list-item {
      border: none;
    }

    .ant-card {
      border: none;
      background-color: transparent !important;
    }


  }
}

.rootCkeditor {
  :global {
    blockquote {
      border-left: 5px solid #800000;
      padding: 0 1em;
      color: #800000;
      margin-left: 40px;
      quotes: "\201C""\201D""\2018""\2019";
    }
  }
}
